#stnName {
  color: rgb(255, 255, 255);
  background-color: rgb(103, 159, 255);
  font-weight: bolder;
  font-size: large;
}

#stnEl {
  color: rgb(255, 255, 255);
  background-color: rgb(103, 159, 255);
  font-weight: bolder;
  font-size: large;
}
#stnOb {
  color: rgb(255, 255, 255);
  background-color: rgb(103, 159, 255);
  font-weight: bolder;
}

#marker-button {
  color: rgb(255, 255, 255);
  background-color: rgb(103, 159, 255);
  font-weight: bolder;
}
table {
  width: 25vw;
}
